.git/
.ipynb_checkpoints/
.tensorboard/
.keras/
.virtual_documents/
_data/
_work/
kaggle.json
kaggle.json.*
docker/res/root/.jupyter/migrated
iframe_figures/
/__*
**/__repo__
tests/res/__cache__
notebooks/convert_n_data.nbconvert.ipynb
